* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 50vmin;
  height: 50vmin;
  border: 2vmin solid black;
  position: absolute;
}

.child-1 {
  background-color: salmon;
  font-size: 5vmin;
  padding: 2vmin;
  position: absolute;
}

.child-2 {
  background-color: salmon;
  font-size: 5vmin;
  padding: 2vmin;
  position: absolute;
  top: 0;
  right: 0;
}

.child-3 {
  background-color: salmon;
  font-size: 5vmin;
  padding: 2vmin;
  position: absolute;
  bottom: 0;
  left: 0;
}

.child-4 {
  background-color: salmon;
  font-size: 5vmin;
  padding: 2vmin;
  position: absolute;
  bottom: 0;
  right: 0;
}
