html {
  font-size: 15px;
  font-family: "Playfair Display", serif;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 446px) {
  html {
    font-size: 0.8em;
  }
  .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 0.9em;
  }
  .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 1em;
  }
}

.grid-main {
}
