*,
*:before,
*after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*macht die sichtbare weiße box im Vordergrund; das eigentliche div.*/
div {
  width: 40vmin;
  height: 50vmin;
  background: #fff;
  position: relative;
  border-radius: 3px;
  float: left;
  display: block;
  align-items: center;
  background-image: url(https://images.fineartamerica.com/images-medium-large-5/postal-biplane-us-parcel-post-stamp-science-source.jpg);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: top right;
}

/*Content:'' erstellt sozusagen eine weitere Box. 
komplett rot, weiß, blau gestreift. 
:after macht diese in den Hintergrund des eigentlichen div.
*/
div:after {
  content: "";
  background: repeating-linear-gradient(
    45deg,
    #114abc,
    #114abc 10px,
    #fff 10px,
    #fff 20px,
    #bf2010 20px,
    #bf2010 30px,
    #fff 30px,
    #fff 40px
  );
  padding: 20px;
  border-radius: 6px;
  box-shadow: 1px 2px 6px 1px rgb(76 66 47 / 75%);
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  position: absolute;
  top: -8px;
  left: -8px;
  z-index: -1;
}

.adress-line {
  display: block;
  margin: 1vmin 2vmin;
  font-family: "La Belle Aurore";
  border-bottom: 1px solid black;
  position: relative;
  align-items: center;
  top: 25vmin;
}

.grid-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-div {
}

p {
  font-family: "Dancing Script", cursive;
  position: relative;
  text-align: center;
  top: 30vmin;
}

.beach {
  background-clip: content-box;
  background-image: url(https://www.kunstnet.de/w0/12310/gross_strand_.jpg);
  background-size: 50vmin;
  background-repeat: no-repeat;
  background-position: center;
}
